<div nz-row class="post" *ngFor="let post of posts">
  <div nz-col nzSpan="1" class="vote-post">
      <app-vote-button [post] = "post" ></app-vote-button>
  </div>
  <div nz-col nzSpan="23" class="body">
    <div class="meta-information">
      <span class="subreddit-text"><a class="post-url" href="">{{post.subRedditName}}</a></span>
      <span>
        <span style="padding-left: 8px;">Posted by {{post.userName}} {{post.duration}} </span>
      </span>
    </div>
    <div class="read-post" (click)="goToPost(post.slug)" style="cursor: pointer;">
      <div class="post-title">
        <a class="post-name" routerLink="/view-post/{{post.slug}}"><h3>{{post.postName}}</h3></a>
      </div>
      <div class="content">
        <p class="post-text" [innerHtml]="post.description" ></p>
      </div>
      <hr />
      <div class="extra-information">
        <a class="comments" role="button">
          <i nz-icon nzType="comment" nzTheme="outline"></i>
          <span>{{post.commentCount}} Comments</span>
        </a>
        <a class="share" role="button">
          <i nz-icon nzType="share-alt" nzTheme="outline"></i>
          <span>Share</span>
        </a>
        <a class="save" role="button">
          <i nz-icon nzType="save" nzTheme="outline"></i>
          <span>Save</span>
        </a>
      </div>
    </div>
  </div>
</div>
