.vote-action {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
  padding: 0px 4px;
}

.up-vote,
.down-vote {
  font-size: 1.25em;
  width: fit-content;
  cursor: pointer;
}

.up-vote:hover {
    background-color: #ccc;
    color: #008080;
}

.down-vote:hover {
  background-color: #ccc;
  color: #eb0303;
}

.vote-count{
  margin: 8px 0;
  font-weight: bold;
  box-sizing: border-box;
}
