
.pointer:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
}

header > .header-row {
  width: 100%;
}

header .search-holder {
  display: flex;
  align-items: center;
}

header .icon-holder {
  padding-left: 1em;
}

.reddit-icon-svg{
  height: 50px;
  padding: 8px 8px 8px 0;
  width: 50px;
}

.reddit-text{
  font-weight: 700;
  height: 50px;
  width: 50px;
}
.logo{
  text-decoration: none;
}

header .user-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2em;
}

.view-options-btn {
  font-size: 1em;
  box-sizing: border-box;
  background: transparent;
  padding: 0.25em 0.75em 0.25em 0.75em;
  height: 2em;
  border: none;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.view-options-btn .arrow-holder {
  display: flex;
  align-items: center;
}

ul.custom-dropdown-menu > li {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

ul.custom-dropdown-menu > li > div {
  display: flex;
  align-items: center;
}

.view-options-btn:hover {
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.login, .signup{
    background-color: transparent;
  color: #0079D3;
    fill: #0079D3;
  border: 1px solid #0079D3;
  border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
}
.signup{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}

.signup:hover{
    opacity: 0.6;
}


.user-details{
  background-color: transparent;
  color: #0079D3;
  fill: #0079D3;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  /* line-height: 24px; */
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  height: 40px;

  /* position: relative; */
  display: flex;
}

.dropdown-item:hover{
  background-color: #ccc;
}

.dropdown-menu{
  background-color: #f8f9fa;
}


.account-icon{
  border-radius: 50%;
  /* float: left; */
  margin-right: 5px;
  max-height: 30px;
  max-width: 30px;
  display: inline-block;
}

.item {
  font-size: 16px;
  color: rgba(0,0,0,0.75);
}

.item + .item {
  border-top: 1px solid #ccc;;
}

.custom-dropdown-menu {
  margin-top: 1em;
}

.icon-item {
  margin-right: 15px;
  font-size: 15px;
  box-sizing: border-box;
}

.dropdown-icon {
  /* border: 1px solid green; */
  font-size: 20px;
  display: inline-block;
  /* padding: 12px 0; */
}

.custom-item {
  padding-left: 20px;
}

.sub-menu {
  margin-top: 4px;
  padding: 0;
}

.dropdown-toggle::after {
  display: none;
}
